@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-radius: 0.2rem;
    --ui-white: #fff;
    --height-header: 56px;
    --text-sm: 13.5px;
}
@layer base {
    body {
        font-family: 'Parkinsans', sans-serif;
    }
}